.subrow-section {
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
  }
  
  .subrow-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .subrow-table th, .subrow-table td {
    padding: 8px 12px;
    border: 1px solid #ddd;
    text-align: left;
  }
  
  .subrow-section h4 {
    margin-bottom: 10px;
  }
  
  .edit-icon{
    color: green;
  }
  .delete-icon{
    color: red;
  }
  .print-icon{
    color: blue;
  }
  
  .icon:hover {
    color: #ff8800;
    cursor: pointer;
  }

  .action-icons{
    font-size: 1.3rem;
  }
 .icon{
  margin-left: .5rem;
 }



 .table-container {
  overflow-x: auto; 
}

.icon-container{
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between; 
}
.icon-container span {
  margin-right: auto; 
}

.icon {
  margin-left: 8px; 
}


.whatsapp-icon{
  color: green;
  font-size: 1.2rem;
}


.location-icon{
  color: blue;
  font-size: 1.2rem;
}


.copy-icon{
  color: black;
  font-size: 1.2rem;
}

.icon:hover {
  cursor: pointer;
  opacity: 0.8;
}
