.form-container1 {
  color: black;
  background: linear-gradient(1535deg, #FFFFFF, #008080);
  padding: 20px;
  margin-bottom: 5rem;
  margin-left: 15rem;
  border-radius: 1rem;
  width: 90rem;

}
/* 
.footerButton button {
  margin-left: 30rem;
  margin-top: 4rem;
  background-color: #edf0f3;
  color: rgb(11, 11, 11);
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  width: 8rem;
}

.footerButton button:hover {
  background: #008080;
  color: white;
} */
