.custom-modal{
    position: fixed;
    bottom: 20px;
    margin-top: 40rem;
    z-index: 1050;
}

.custom-modal {
    position: fixed;
    bottom: 20px;
    left: 10px;
    margin: 0; 
    z-index: 1050;
    width: auto; 
    margin-top: 40rem;
  }
  
  .custom-modal .modal-dialog {
    margin: 0; 
    margin-left: -9rem;
   /* Ensure full width is taken up in the custom modal */
   /* Remove the default max-width */
    display: inline-block; /* Prevent automatic centering */
  }
  
  .custom-modal .modal-content {
    border-radius: 8px; 
  }
  

@media screen and (max-width:480px) {
    .custom-modal{
        margin-top: 27.5rem;
    }
}