.form {
  background: #f7f7f7;
  padding: 40px;
  border-radius: 1rem;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 800px;
  margin: 10rem auto;
  
  text-align: center;
}

.heading {
  margin-bottom: 20px;
  color: #333;
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
input[type="date"] {
  width: 100%;
  padding: 10px;
  margin: 10px 0 20px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  border-color: #131212;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="date"]:focus {
  border-color: #999d9f;
  outline: none;
}

.password-container {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 40%;
  right: 10px;
  transform: translateY(-50%);
  font-size: 18px;
  color: #333;
}

.login_button {
  color: rgb(4, 4, 4);
  padding: 10px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
  background-color: #dcdcda;
}

.login_button:hover {
  background-color: #ff8800;
  color: white;
  border: 1px solid white;
}

hr {
  margin: 20px 0;
  border: 1px solid #ccc;
}

.links {
  color: #131212;
  text-decoration: none;
}

.links:hover {
  text-decoration: none;
  background-color: #ff8800;
  color: white;
  padding: 0.5rem;
  border-radius: 5px;
}

.form h5 {
  color: black;
}

/* 
@media screen and (max-width:1300px) {
  .form {
    max-width: 600px;
    margin-left: 18rem;
  }
} */

/* Large desktops (992px to 1199px) */
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .form {
    max-width: 600px;
    margin: 10rem auto;
  }
}

/* Tablets (768px to 991px) */
@media screen and (min-width: 768px) and (max-width: 991px) {
  .form {
    max-width: 600px;
    margin: 10rem auto;
  }
}

/* Small Tablets / Large Phones (576px to 767px) */
@media screen and (min-width: 576px) and (max-width: 767px) {
  .form {
    max-width: 500px;
    margin: 10rem auto;
  }
}

/* Mobile Phones (320px to 575px) */
@media screen and (max-width: 575px) {
  .form {
    max-width: 350px;
    margin: 10rem auto;
  }
}

@media screen and (max-width: 480px) {
  .form {
    max-width: 350px;
    /* margin-top: 4rem; */
    margin: 4rem auto;
    border-radius: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .form {
    max-width: 300px;
    margin: 4rem auto;

    border-radius: 1rem;
  }

  .form h5 {
    width: 15rem;
  }
}
