  .form {
    background: rgba(255, 255, 255, 0.2);
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 800px;
    margin: 10rem;
    margin-left: 30rem;
    text-align: center;
    border-radius: 7rem;
  }
  
  .heading {
    margin-bottom: 20px;
    color: #333;
  }
  
  input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="date"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0 20px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    border-color: #131212;
  }
  
  input[type="text"]:focus, input[type="password"]:focus, input[type="number"]:focus, input[type="date"]:focus {
    border-color: #999d9f;
    outline: none;
  }
  
  .password-container {
    position: relative;
  }
  
  .password-toggle {
    position: absolute;
    top: 40%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #333;
  }
  
  .login_button {
    color: rgb(4, 4, 4);
    padding: 10px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    transition: background-color 0.3s;
  }
  
  
  
  hr {
    margin: 20px 0;
    border: 1px solid #ccc;
  }
  
  .links {
    color: #131212;
    text-decoration: none;
  }
  
  .links:hover {
    text-decoration: none;
    background-color: #008080;
    color: white;
    padding: 0.5rem;
    border-radius: 5px;
  }
  
  .form h5 {
    color: black;
  }
  

@media screen and (max-width:1300px) {
  .form {
    max-width: 600px;
    margin-left: 11rem;
  
  }
  
}

@media screen and (max-width:800px) {
  .form {
    max-width: 500px;
    margin-left: 4rem;
  
  }
  
}